[customizations.installer.kickstart]
contents = """
repo --name=terra-mesa --setopt=gpgcheck=0

# If you have other terra-related repos causing issues (e.g., 'terra' or 'terra-extras'), add them too:
# repo --name=terra --setopt=gpgcheck=0
# repo --name=terra-extras --setopt=gpgcheck=0

%post
bootc switch --mutate-in-place --transport registry ghcr.io/trunar/bazzite-dx-nvidia-niri:latest
%end
"""

[customizations.installer.modules]
enable = [
  "org.fedoraproject.Anaconda.Modules.Storage",
  "org.fedoraproject.Anaconda.Modules.Runtime",
  "org.fedoraproject.Anaconda.Modules.Network",
  "org.fedoraproject.Anaconda.Modules.Security",
  "org.fedoraproject.Anaconda.Modules.Services",
  "org.fedoraproject.Anaconda.Modules.Users",
  "org.fedoraproject.Anaconda.Modules.Timezone"
]

disable = [
  "org.fedoraproject.Anaconda.Modules.Subscription",
]
